
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&family=Recursive&family=Source+Code+Pro&family=Work+Sans:wght@200;320&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-image: url("./Background_Img.jpg");
  background-size: cover; /* or "contain" depending on your preference */
  /* background-position: center; */
  background-repeat: no-repeat;
  font-family: "Work Sans", sans-serif;
}

/* Image by Mateus Andre on Freepik: https://www.freepik.com/free-photo/artistic-blurry-colorful-wallpaper-background_61216631.htm#query=dark%20gradient&position=45&from_view=keyword&track=ais&uuid=f076c9c0-5748-41c2-ba00-07e2cade4cd3 */
